.contact {
    margin-top: 48px;
}

.title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 97%;
    text-align: center;
    color: #00559D;
    margin-bottom: 60px;
}

/* пасхалка */

.background {
    background-color: #00559D;
}

.content {
    color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* пасхалка закончилась */